[Unit]
Description=Cron Daemon

[Service]
Type=forking
PIDFile=/var/run/crond.pid
EnvironmentFile=/etc/conf.d/crond
ExecStart=/usr/sbin/crond -S -l info
Restart=restart-always

[Install]
WantedBy=multi-user.target
