[Unit]
Description=Cron Daemon

[Service]
Type=forking
ExecStart=/etc/rc.d/crond start
ExecStop=/etc/rc.d/crond stop
ExecReload=/etc/rc.d/crond reload
