[Unit]
Description=Exim Mail Daemon

[Service]
Type=forking
PIDFile=/var/run/exim.pid
ExecStart=/etc/rc.d/exim start
ExecStop=/etc/rc.d/exim stop
ExecReload=/etc/rc.d/exim reload

[Install]
WantedBy=multi-user.target
