[Unit]
Description=NFS Server Daemon
Conflicts=nfs-server.service
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=forking
ExecStart=/etc/rc.d/nfs-server start
ExecStop=/etc/rc.d/nfs-server stop
ExecReload=/etc/rc.d/nfs-server reload

[Install]
WantedBy=multi-user.target
Also=network.service rpcbind.service
