[Unit]
Description=NFS Client Daemon
Conflicts=nfs-server.service
After=rpcbind.service
Requires=rpcbind.service

[Service]
Type=forking
ExecStart=/etc/rc.d/nfs-common start
ExecStop=/etc/rc.d/nfs-common stop
ExecReload=/etc/rc.d/nfs-common reload

[Install]
WantedBy=multi-user.target
Also=network.service rpcbind.service
