[Unit]
Description=NFS Server Daemon
After=rpcbind.service nfs-common.service
Requires=rpcbind.service nfs-common.service

[Service]
Type=forking
ExecStart=/etc/rc.d/nfs-server start
ExecStop=/etc/rc.d/nfs-server stop
ExecReload=/etc/rc.d/nfs-server reload

[Install]
WantedBy=multi-user.target
Also=network.service rpcbind.service nfs-common.service
