[Unit]
Description=OpenSSH Daemon
Requires=network.target
After=network.target

[Service]
EnvironmentFile=/etc/conf.d/sshd
ExecStartPre=/lib/systemd/scripts/sshdgenkeys
ExecStart=/usr/sbin/sshd -D $SSHD_ARGS
KillMode=process
Restart=restart-always

[Install]
WantedBy=multi-user.target
Also=network.service
