[Unit]
Description=OpenSSH Daemon

[Service]
Type=forking
ExecStart=/etc/rc.d/sshd start
ExecStop=/etc/rc.d/sshd stop
ExecReload=/etc/rc.d/sshd reload
