[Unit]
Description=OpenSSH Daemon

[Service]
ExecStart=/usr/sbin/sshd -D
Restart=restart-always

[Install]
WantedBy=multi-user.target
Also=network.service
