[Unit]
Description=System Logger Daemon

[Service]
ExecStart=/etc/rc.d/syslog-ng start
ExecStop=/etc/rc.d/syslog-ng stop
ExecReload=/etc/rc.d/syslog-ng reload
