[Unit]
Description=Advanced Linux Sound Architecture
Before=sound.target
After=syslog.target

[Service]
RemainAfterExit=yes
ExecStart=/etc/rc.d/alsa start
ExecStop=/etc/rc.d/alsa stop

[Install]
WantedBy=multi-user.target
