[Unit]
Description=Periodic Command Scheduler
After=syslog.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/crond
ExecStart=/usr/sbin/crond $CROND_ARGS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
