[Unit]
Description=Cron Daemon
Wants=syslog.target

[Service]
Type=forking
PIDFile=/var/run/crond.pid
ExecStart=/etc/rc.d/crond start
ExecStop=/etc/rc.d/crond stop
Restart=restart-always

[Install]
WantedBy=multi-user.target
