[Unit]
Description=DHCP server

[Service]
ExecStart=/usr/sbin/dhcpd -%i -f -q
ExecReload=/bin/kill -TERM $MAINPID
KillSignal=SIGINT
StandardOutput=syslog

# Enable this service as:
#    dhcpd@4.service for an ipv4 daemon
#    dhcpd@6.service for an ipv6 daemon
