[Unit]
Description=Hardware Manager
After=syslog.target acpid.service
Wants=acpid.service

[Service]
Type=dbus
BusName=org.freedesktop.Hal
ExecStart=/usr/sbin/hald --daemon=no --use-syslog

[Install]
WantedBy=graphical.target
