[Unit]
Description=Hardware Manager

[Service]
Type=dbus
BusName=org.freedesktop.Hal
ExecStart=/usr/sbin/hald --daemon=no --use-syslog

[Install]
WantedBy=graphical.target
