[Unit]
Description=IRQ Balancing Daemon
After=syslog.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/irqbalance
ExecStart=/usr/sbin/irqbalance
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

