[Unit]
Description=Kerberos 5 administration server
After=syslog.target

[Service]
ExecStart=/usr/sbin/kadmind -nofork

[Install]
WantedBy=multi-user.target
