[Unit]
Description=IRC gateway to IM networks
After=network.service
Requires=network.service

[Service]
PidFile=/var/run/minbif/minbif.pid
Type=forking
ExecStart=/usr/bin/minbif --pidfile /var/run/minbif/minbif.pid /etc/minbif/minbif.conf
User=minbif
Group=minbif

[Install]
WantedBy=multi-user.target
