[Unit]
Description=Network Time Service
After=syslog.target

[Service]
EnvironmentFile=/etc/conf.d/ntp-client.conf
ExecStart=/usr/bin/ntpd -n $NTPD_ARGS

[Install]
WantedBy=multi-user.target
