[Unit]
Description=Network Time Service
After=syslog.target

[Service]
Type=forking
PIDFile=/run/ntpd.pid
EnvironmentFile=/etc/conf.d/ntp-client.conf
ExecStart=/usr/bin/ntpd $NTPD_ARGS -p /run/ntpd.pid

[Install]
WantedBy=multi-user.target
