[Unit]
Description=OpenNTP Daemon
After=syslog.target

[Service]
EnvironmentFile=/etc/conf.d/openntpd
ExecStart=/usr/sbin/ntpd -d $PARAMS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
