[Unit]
Description=Open Sound System v4
Before=sound.target
After=syslog.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/soundon
ExecStop=/usr/sbin/soundoff

[Install]
WantedBy=multi-user.target
