[Unit]
Description=proxy name server
After=syslog.target

[Service]
ExecStart=/usr/sbin/pdnsd
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
