[Unit]
Description=Polipo Proxy Server
After=syslog.target

[Service]
ExecStart=/usr/bin/polipo
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
