[Unit]
Description=MacBook Hotkey Event Handler
After=syslog.target

[Service]
Type=forking
ExecStart=/usr/sbin/pommed
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
