[Unit]
Description=MacBook Hotkey Event Handler
After=syslog.target

[Service]
ExecStart=/usr/sbin/pommed -f
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
