[Unit]
Description=MacBook Hotkey Event Handler

[Service]
Type=dbus
BusName=org.pommed
ExecStart=/usr/sbin/pommed -f
StandardOutput=syslog

[Install]
WantedBy=multi-user.target
