[Unit]
Description=System Logging Service

[Service]
Sockets=syslog.socket
ExecStartPre=/bin/systemctl stop systemd-kmsg-syslogd.service
ExecStart=/usr/sbin/rsyslogd -n -c5

[Install]
WantedBy=multi-user.target
