[Unit]
Description=Smart Monitoring Daemon
After=syslog.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/smartd
ExecStart=/usr/sbin/smartd $SMARTD_ARGS
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

