[Unit]
Description=SSH Per-Connection Server
Requires=sshdgenkeys.service
After=syslog.target sshdgenkeys.service

[Service]
# SSHD_ARGS from /etc/conf.d/sshd is ignored
ExecStart=/usr/sbin/sshd -i
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
