[Unit]
Description=System Logger Daemon
Conflicts=systemd-kmsg-syslogd.service

[Service]
Sockets=syslog.socket
ExecStart=/usr/sbin/syslog-ng -F
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
