[Unit]
Description=System Logger Daemon
DefaultDependencies=no
Conflicts=shutdown.target
Requires=local-fs.target
After=local-fs.target
Before=syslog.target

[Service]
ExecStart=/usr/sbin/syslog-ng -F
Restart=always

[Install]
WantedBy=syslog.target
