[Unit]
Description=Network traffic monitor
After=syslog.target

[Service]
PIDFile=/var/run/vnstat.pid
ExecStart=/usr/sbin/vnstatd -d
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
