[Unit]
Description=vsftpd per-connection server
After=syslog.target

[Service]
ExecStart=/usr/sbin/vsftpd
ExecReload=/bin/kill -HUP $MAINPID
StandardInput=socket
