[Unit]
Description=Wicd Network Manager
After=syslog.target

[Service]
Type=dbus
BusName=org.wicd.daemon
ExecStart=/usr/sbin/wicd -f
Restart=always

[Install]
WantedBy=multi-user.target
